<html>
	<head>
		<title>MxLink</title>
		<link rel='stylesheet' href='static/css/style.css' type='text/css' />
	</head>
	<body>
		<div id='lang-selector'>
			<ul><li><a href='index.html'>EN</a> | </li><li><a href='index.html.fi.html'>FI</a></li> | <li><a href='index.html.sv.html'>SV</a></li></ul>
		</div>
		<img alt="Matrix logo" id='mainlogo' class="logo" src="static/site-imgs/matrix-logo.svg" />
		
		<div id="incoming">
			<div class="intro" id="incoming-intro" lang="en">
				<p>You have been invited to join <span class='var_displayname'></span>, a<span class='is_encrypted'>n encrypted</span> <span class='is_room'>room</span><span class='is_user'>user</span><span class='is_community'>community</span> on the <a href='https://matrix.org/'><img class ='text' alt='Matrix' src='static/site-imgs/matrix-logo.svg' /></a> network, an open network for secure and decentralized communication. </p>
				<p><span class='has_topic'>The topic is <span class='var_roomtopic'></span></span></p>
				<p>Because of the open nature of <a href='https://matrix.org'><img class ='text' alt='Matrix' src='static/site-imgs/matrix-logo.svg' /></a>, there is no single app that you must use for this. Rather, there are several options, some of which are listed below. They all work together, so feel brave and try a few options. Click on one to get started and join the conversation!</p>
			</div>
			<div id="client-selector">
				<div>
					<h2 id="stable-header" lang="en">Stable (Full-featured and well-tested)</h2><ul>
						<li id="client-riotweb">
							<a data-room="http://riot.im/app/#/room/{{mxid}}" data-user="http://riot.im/app/#/user/{{mxid}}?action=chat" data-community="https://riot.im/app/#/group/{{mxid}}" href="http://riot.im/app/">
								<div class="client">
									<img alt="Riot logo" class="logo" src="static/client-art/riot-logo.svg" />
									<div class="client-header">
										<h3>Riot Web, Android and iOS</h3>
										<span id="desc-riot" lang="en">Full-featured Matrix apps</span>
									</div>
									<div class="instructions" id="instructions-riotweb" lang="en">
										Click to the open the conversation in Riot web on a PC, or to install the app and open on Android and iOS.
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div>
					<h2 id="beta-header" lang="en">Beta (may be missing some features, not as well tested)</h2>
					<ul>
						<li id="client-weechat" class='is_not_message is_not_community'>
							<a href="https://github.com/torhve/weechat-matrix-protocol-script">
								<div class="client">
									<img alt="Weechat logo" class="logo" src="static/client-art/weechat-70px.png" />
									<div class="client-header">
										<h3>Weechat</h3>
										<span id="desc-weechat" lang="en">A WeeChat script in Lua that implements the matrix.org chat protocol</span>
									</div>
									<div class="instructions" id="instructions-weechat" lang="en">
										<ol>
											<li>1. Click to download the WeeChat Matrix script.</li>
											<li>2. Type <tt translate="no"><span class="is_room">/join <span class="var_mxid"></span></span><span class="is_user">/invite <span class="var_mxid"></span></span></tt></li>
										</ol>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div>
					<h2 id="alpha-header" lang="en">Alpha (under heavy development)</h2>
					<ul>
						<li id="client-quaternion" class='is_not_encrypted is_not_message is_not_community'>
							<a href="https://github.com/Fxrh/Quaternion">
								<div>
									<img alt="Quaternion logo" class="logo" src="static/client-art/quaternion.svg" />
									<div class="client-header">
										<h3>Quaternion</h3>
										<span id="desc-quaternion" lang="en">An IM client for the Matrix protocol</span>
									</div>
									<div class="instructions" id="instructions-quaternion" lang="en">
										<ol>
											<li>1. Click to download Quaternion.</li>
											<li>2. Type <tt translate="non"><span class="is_room">/join <span class="var_mxid"></span></span><span class="is_user">/invite <span class="var_mxid"></span></span></tt></li>
										</ol>
									</div>
								</div>
							</a>
						</li>
						<li id="client-nheko" class='is_not_encrypted is_not_message is_not_community'>
							<a href="https://github.com/mujx/nheko">
								<div>
									<img alt="nheko" class="logo" src="static/client-art/nheko-48.png" />
									<div class="client-header">
										<h3>nheko</h3>
										<span id="desc-nheko" lang="en">Desktop client for the Matrix protocol</span>
									</div>
									<div class="instructions" id="instructions-nheko" lang="en">
										<ol>
											<li>1. Click to download nheko.</li>
											<li>2. Type <tt translate="no"><span class="is_room">/join <span class="var_mxid"></span></span><span class="is_user">/invite <span class="var_mxid"></span></span></tt></li>
										</ol>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		
		<div id="outgoing">
			<div id="creator">
				<div class="intro" id="outgoing-intro" lang="en">
					<p>Type the address of the room for which you want to send a link</p>
				</div>
				<form id="creation_form" action='/generate' method='POST' >
					<div id='mxid-input-and-submit'>
						<input id="mxid" lang='en' autofocus='autofocus' placeholder="#room:example.org, @user:example.org, +community:example.org" type="text" required='required' pattern='[#!$@+].+:.+' x-moz-errormessage='This does look like a valid address. A valid address starts with #,@,! or $ depending on type.'/>
						<input id="get-link-button" lang="en" type="submit" value="Get link" />
					</div>
					<div id="share-div">
						<p lang='en' id='share-desc'>You can now send the following link to someone in order to invite them to join <span class='var_mxid'></span>: </p>
						<a id="generated-link"></a>

						<div id='share-buttons-div'>
							<ul id='share-buttons'>
								<li><a href='https://twitter.com/intent/tweet?url='><img alt='Twitter' src='static/site-imgs/twitter.svg' /></a></li>
								<li><a href='https://www.facebook.com/sharer/sharer.php?u='><img alt='Facebook' src='static/site-imgs/facebook.svg' /></a></li>
								<li><a href='https://share.diasporafoundation.org/?url='><img alt='Diaspora*' src='static/site-imgs/diaspora.svg' /></a></li>
								<li><a href='https://plus.google.com/share?url='><img alt='Google+' src='static/site-imgs/googleplus.svg' /></a></li>
								<li><a href='https://reddit.com/submit?url='><img alt='Email' src='static/site-imgs/reddit.svg' /></a></li>
								<li><a href='mailto:?body='><img alt='Email' src='static/site-imgs/email.svg' /></a></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div id="about" lang="en">
			<h2>About MxLink</h2>
			<p>MxLink serves as a friendly entrypoint for non-Matrix users who have been invited to join a Matrix room. Found a bug? Got an improvement in mind? <a href="https://gitlab.com/saparvia/mxlink">Take a look at the source code.</a></p>
		</div>


		<script type="text/javascript" src='static/js/noninteractive.js'> </script>
		<script type="text/javascript" src='static/js/interactive.js'> </script>
	</body>
</html>
