@font-face { font-family: Ubuntu; src: url('../fonts/Ubuntu-R.ttf'); }

body { font-family: Ubuntu, sans-serif; max-width: 65em; margin: 0 auto; margin-top: 2em; }

body p { max-width: 60em; }

h3 { padding: 0px; margin: 0px; display:inline; } 

ol { list-style-position: inside; }


.text { height: 1em; vertical-align: middle; }

.instructions ol li { display: inline; margin-right: 0.5em; }

.var_mxid { font-weight: bold; font-size: larger; }

.var_displayname { font-weight: bold; font-size: larger; }

.var_roomtopic { font-style: italic; }

.client-header { color: #707070; }
.client-header h3 { color: black; }

#mainlogo { text-align: center; height: 10%; display: block; margin: 0 auto; margin-bottom: 3em; }

/* Loading anumation */
@keyframes spinner {
  to { transform: rotate(360deg); }
}

#spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

#lang-selector { float: right; }
#lang-selector ul li { display: inline; }

#client-selector > div { margin-top: 3em; margin-bottom: 3em; };
#client-selector > div > ul { list-style-type: none; padding-left: 40px; padding-right: 40px; }
#client-selector > div > ul > li { border: 1px solid black; border-radius: 5px; margin-bottom:0.5em; padding: 0.5em; background-color: #eeeeff; overflow:hidden; }
#client-selector > div > ul > li:hover { background-color: #d0d0ff; }
#client-selector > div > ul > li .logo { float: left; height: 48px; margin-right: 1em;  }
#client-selector > div > ul > li > a { text-decoration: inherit; color: inherit; }

#mxid-input-and-submit { display: flex; }
#mxid-input-and-submit input[type=text] { font-size: xx-large; flex-grow: 1; }
#mxid-input-and-submit input[type=text]:placeholder-shown { font-size: x-large; }
#mxid-input-and-submit input[type=text]:invalid { box-shadow: none; }
#mxid-input-and-submit input[type=submit] { margin-left: 0.2em; cursor: pointer; }

#get-link-button {
  background-color: #eeeeff;
  border-radius: 5px;
  font-size: xx-large;
  border: 1px solid black;
}

#get-link-button:hover {
  background: #d0d0ff;
}

#generated-link { white-space: nowrap; }

#share-buttons { list-style-type: none; padding-left: 0px; }
#share-buttons li { display: inline; margin-right: 0.5em;  }
#share-buttons img { height: 1.5em; }
#share-buttons img:hover { filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4)); }

#about { font-size: smaller; margin-top: 4em; margin-bottom: 2em; }
#about h2 { margin-bottom: 0.1em; }
#about p { margin-top: 0.1em; }


#incoming { display: none; }
#share-div { display: none; }
.is_room { display: none; }
.is_user { display: none; }
.is_encrypted { display: none; }
.has_topic { display: none; }
